* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 30px;
}

ul {
  list-style: none;
}

html {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
}

body {
  min-width: 600px;
  padding: 0;
  margin: 0;
  background-color: #010101;
  background-image: url("/assets/images/Layer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-y: 70px;
}

.back-line {
  height: 70px;
  background-color: black;
}
.back-line .nav-menu li {
  margin: 0 15px;
}
.back-line .nav-menu li a {
  color: white;
  text-decoration: none;
}

.top-header-menu {
  color: #fff;
  height: 70px;
  text-transform: uppercase;
}

.logo {
  margin: 60px auto 80px;
  display: block;
  width: 365px;
}

.user-menu li {
  margin: 0 15px;
}
.user-menu button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.user-menu button:before {
  content: "";
  display: block;
  background: url(/assets/icons/login.png) no-repeat top right;
  color: #fff;
  width: 15px;
  margin-right: 10px;
  height: 15px;
}

.features {
  color: #fff;
}
.features .features-list {
  margin-bottom: 80px;
}
.features .features-list li {
  width: 268px;
  margin: 0 10px;
}
.features .features-list li h2 {
  text-align: center;
}
.features .features-list li h2:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 30px auto;
  background: url(/assets/icons/romb.png) no-repeat top right;
}
.features .features-list li p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

footer .footer-grey-line {
  background-color: #202020;
  height: 194px;
  width: 100%;
}
footer .footer-grey-line .footer-content {
  height: 100%;
}
footer .footer-grey-line .footer-content .lets-make-a-friends {
  width: 145px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-grey-line .footer-content .lets-make-a-friends li {
  width: 40px;
  height: 40px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
footer .footer-grey-line .footer-content p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
footer .footer-grey-line .footer-content p.address {
  font-size: 13px;
}
footer .footer-grey-line .footer-content p.developed-by {
  width: 140px;
  margin-left: auto;
  text-align: center;
}
footer .footer-grey-line .footer-content p a {
  color: white;
}

.footer-container-item {
  width: 285px;
  margin-left: 10px;
  margin-right: 10px;
}

.news {
  line-height: 24px;
}
.news .news-item {
  margin-bottom: 35px;
}
.news .news-item p {
  font-size: 14px;
}
.news a.button-link {
  width: 140px;
}

.gallery figure {
  width: 300px;
  margin-bottom: 35px;
}
.gallery figure img {
  vertical-align: middle;
  border: 8px solid #fff;
}
.gallery div {
  width: 300px;
}
.gallery div .button-link {
  width: 135px;
}

.contacts h2 {
  white-space: nowrap;
}
.contacts p {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
}
.contacts div {
  width: 300px;
}
.contacts div .button-link {
  width: 135px;
}

.appointment p {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
}
.appointment form {
  margin-bottom: 35px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.appointment form div {
  width: 140px;
}
.appointment div {
  width: 300px;
}
.appointment div .button-link {
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 140px;
}
.form-group label {
  width: 140px;
}
.form-group input {
  border: 2px solid #000101;
  padding: 5px;
  font-size: 14px;
  width: 140px;
  font-size: 14px;
  font-family: "PT Sans Narrow", sans-serif;
}

/*# sourceMappingURL=page-styles.css.map */
