$white: #fff;
$mainFontFamily: 'PT Sans Narrow', sans-serif;
$mainFontSize: 16px;
$blackLineHeight: 70px;
*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

h2{
  font-size: 30px;
}

ul{
  list-style: none;
}

html{
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
}

body{
  padding: 0;
  margin: 0;

  background-image: url("/assets/images/Layer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: revert;
  background-position-y: $blackLineHeight;
}

.content-wrap{
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}



.back-line{
  height: $blackLineHeight;
  background-color: black;
  .nav-menu{
    li{
      margin:0 15px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

.top-header-menu{
  color: $white;
  height: $blackLineHeight;
  text-transform: uppercase;
}

.logo{
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  display: block;
  width: 365px;
}

.user-menu{
  button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: $mainFontSize;
    font-family: $mainFontFamily;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:before{
      content: "";
      display: block;
      background: url(/assets/icons/login.png) no-repeat top right;
      color: #fff;
      width: 15px;
      margin-right: 10px;
      height: 15px;
    }
  }
}

.features{
  color: $white;

  .features-list{
    li{
      width: 268px;
      margin: 0 10px;
      h2{
        text-align: center;
        &:after{
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          margin: 30px auto;
          background: url(/assets/icons/romb.png) no-repeat top right;
        }
      }
      p{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}



