@import "variable";

*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

h2{
  font-size: 30px;
}

ul{
  list-style: none;
}

html{
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
}

body{
  min-width: 600px;
  padding: 0;
  margin: 0;
  background-color: #010101;
  background-image: url("/assets/images/Layer.png");
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: revert;
  background-position: center;
  background-position-y: $blackLineHeight;
}

.back-line{
  height: $blackLineHeight;
  background-color: black;
  .nav-menu{
    li{
      margin:0 15px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}

.top-header-menu{
  color: $white;
  height: $blackLineHeight;
  text-transform: uppercase;
}

.logo{
  margin: 60px auto 80px;
  display: block;
  width: 365px;
}

.user-menu{
  li{
    margin:0 15px;
  }
  button{
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: $mainFontSize;
    font-family: $mainFontFamily;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:before{
      content: "";
      display: block;
      background: url(/assets/icons/login.png) no-repeat top right;
      color: #fff;
      width: 15px;
      margin-right: 10px;
      height: 15px;
    }
  }
}

.features{
  color: $white;

  .features-list{
    margin-bottom: 80px;
    li{
      width: 268px;
      margin: 0 10px;
      h2{
        text-align: center;
        &:after{
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          margin: 30px auto;
          background: url(/assets/icons/romb.png) no-repeat top right;
        }
      }
      p{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}



footer{
  .footer-grey-line{
    background-color: #202020;
    height: 194px;
    width: 100%;
    .footer-content{
      height: 100%;

      .lets-make-a-friends{
        width: 145px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        li{
          width: 40px;
          height: 40px;
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 2.5px;
          margin-right: 2.5px;
        }

      }

      p{
        font-size: 14px;
        line-height: 24px;
        color: $white;

        &.address{
          font-size: 13px;
        }

        &.developed-by{
          width: 140px;
          margin-left: auto;
          text-align: center;
        }
        a{
          color: white;
        }
      }
    }
  }
}

.footer-container-item{
  width: 285px;
  margin-left: 10px;
  margin-right: 10px;
}

.news{
  line-height: 24px;
  .news-item{
    margin-bottom: 35px;

    p{
      font-size: 14px;
    }
  }

  a.button-link{
    width: 140px;
  }
}


.gallery{
  figure{
    width: 300px;
    img{
      vertical-align: middle;
      border: 8px solid $white;
    }
    margin-bottom: 35px;
  }

  div{
    width: 300px;
    .button-link{
      width: 135px;
    }
  }
}

.contacts{
  h2{
    white-space: nowrap;
  }
  p{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 24px;
  };
  div{
    width: 300px;
    .button-link{
      width: 135px;
    }
  }
}

.appointment{
  p{
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 24px;
  }

  form{
    margin-bottom: 35px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  form{
    div{
      width: 140px;
    }
  }

  div{
    width: 300px;
    .button-link{
      width: 300px;
    }
  }
}

//comon
.form-group{
  display: flex;
  flex-direction: column;
  width: 140px;

  label{
    width: 140px;
  }

  input{
    border: 2px solid #000101;
    padding: 5px;
    font-size: 14px;
    width: 140px;

    font-size: 14px;
    font-family: $mainFontFamily;
  }
}




