.flex{
  display: flex;

  &.space-between{
    justify-content: space-between;
  }

  &.center{
    justify-content: center;
  }

  &.align-items-center{
    align-items: center;
  }
}

.m-t-15{
  margin-top: 15px;
}